Picture Albums

{{length}}
<table>
	<thead>
		<th>Name</th>
		<th>Description</th>
		<th>Total Pictures</th>
		<th></th>
	</thead>
	<tbody>
		{{#each}}
		<tr>
			<td>{{name}}</td>
			<td>{{description}}</td>
			<td>{{pictureCount}}</td>
			<td>ACTIONS will go here</td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{outlet}}
